* {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}


header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  text-align: center;                                                                                                    
  z-index: 100;
}
header{
  background-color: black;
}

nav a{
  font-size: 18px;
    color: white;
    text-decoration: none;
    margin-left: 35px;
    font-weight: 500;
    
   
}



#navbar {
  position: fixed;
  transition: top 0.3s; /* Smooth transition for hiding/showing */
  width: 100%;
}



nav li{
    display: inline-block;
    
}

/* For screens smaller than 768px */
@media screen and (max-width: 768px) {

header{
  animation: appearAnimation 5s forwards;
  
  height: 100px;
}

nav li:hover{
  background-color: gray;
  
}
nav a:hover{
  display: hidden;
  
}

nav ul li {
  text-decoration: none; /* Remove default underline */
  position: relative; /* Required for positioning the underline */
}

 
  nav ul li {
      display: block;
  }
}

/* For screens smaller than 576px */
@media screen and (max-width: 576px) {
  nav ul li a {
      padding: 10px;
  }
}




#menu {
  display: none;
}

@media (display-mode: 720×1280 ) {
  #menu {
    display: flex;
  }
}





  section{
    min-height: 100vh;
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    background-image: url(bhautik-patel-V9-ml9nWOr0-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    

    

  }
  section:nth-child(odd){
    background: black;  /* fallback for old browsers */

  }


  .intro{
    font-size: 80px;
    animation: appearAnimation 5s forwards;
    color: white;
  }
  @keyframes appearAnimation {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

  .about{
    font-size: 20px;
    display: inline-block;
    padding-top: 40px;
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
    color: white;
  }

  .about p{
    margin: 5px;
    
  }

  .qualifications, .concepts{
    font-size: 20px;
    display: inline-block;
    color: white;

  }

.qualifications a{
  text-decoration: none;
  color: white;
}

.concepts{
  text-decoration: none;
  font-size: 20px;
}

.concepts a{
  text-decoration: none;
  color: black;
}

/* From Uiverse.io by felipesntr */ 
button {
  
  position: relative;
  margin: auto;
  padding: 1em 2.5em 1em 2.5em;
  border: none;
  transition: all 0.1s linear;
  box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
  cursor: pointer;
 }
 
 button:active {
  transform: scale(0.95);
 }
 
 button span {
  color: #464646;
  cursor: pointer;
 }
 
 button .border {
  position: absolute;
  transition: all 0.3s 0.08s linear;
  top: 50%;
  left: 50%;
  width: 13em;
  height: 3.6em;
  transform: translate(-50%, -50%);
 }
 
 button:hover .border {
  display: block;
  width: 13.5em;
  height: 4em;
 }
 
 .full-rounded {
  border-radius: 2em;
 }
 


